@mixin df-field-group {
  .df-field-group {
    display: flex;
    align-items: center;

    .df-field-item {
      padding-top: var(--field-padding-top);
      padding-right: 8px;
      &.df-vertical {
        > * {
          display: block;
        }
      }
    }
  }
}
