@use "../abstracts" as *;

@mixin df-form-group {
  .df-form-group {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: var(--field-margin-top);
    margin-bottom: 0px;
    margin-right: 0px !important;
    margin-left: 0px !important;

    &:last-child {
      margin-bottom: 0px;
    }

    @include rowFlex();

    .df-help-message {
      display: none;
    }

    .df-help-icon {
      background-repeat: no-repeat;
      background-position-y: center;

      &.df-form-field {
        background-position-x: calc(100% - 15px);
      }

      &.df-form-icon {
        display: none;
        position: absolute;
        z-index: 1;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 20px;
        margin-right: 15px;
      }
    }

    &.invalid {
      .df-form-field {
        border-color: var(--invalid-border-color);
        outline-color: var(--invalid-border-color);
      }

      > .df-field-container.required > .df-field .df-help-icon {
        display: block;
        background-image: url("data:image/svg+xml; base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgLTk2MCA5NjAgOTYwIiB3aWR0aD0iMjAiPjxwYXRoIGQ9Im0yNDktMjA3LTQyLTQyIDIzMS0yMzEtMjMxLTIzMSA0Mi00MiAyMzEgMjMxIDIzMS0yMzEgNDIgNDItMjMxIDIzMSAyMzEgMjMxLTQyIDQyLTIzMS0yMzEtMjMxIDIzMVoiIHN0eWxlPSImIzEwOyAgICBmaWxsOiAjZmY3MzczOyYjMTA7Ii8+PC9zdmc+");
      }

      .df-help-message {
        display: block;
        color: var(--invalid-font-color);
      }
    }

    &.valid {
      > .df-field-container.required {
        > .df-field .df-help-icon {
          display: block;
          background-image: url("data:image/svg+xml; base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTk2MCA5NjAgOTYwIiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHN0eWxlPSImIzEwOyAgICBmaWxsOiAjMTlhOTc0OyYjMTA7Ij48cGF0aCBkPSJNMzc4LTI0NiAxNTQtNDcwbDQzLTQzIDE4MSAxODEgMzg0LTM4NCA0MyA0My00MjcgNDI3WiIvPjwvc3ZnPg==");
        }
      }
    }

    .df-file-label {
      border: 1px solid var(--border-color);
      display: inline;
      width: 100%;
      padding: 3px 15px;
      line-height: 1;
      background-clip: padding-box;
      border-radius: 4px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &:hover {
        background-color: var(--button-bg-hover);
      }
    }
  }
}
