@use "sass:map";
@use "./common" as *;

// dark 테마
$theme: map.merge(
  $theme-common,
  (
    border-color: #41444c,
    font-color: #b9bdc1,
    font-hover-color: #f5f3f3,
    button-bg: #435ebe,
    button-bg-hover: #3950a2,
    tab-bg: #23418f,
    tab-bg-hover: #516db1,
    input-bg: transparent,
    input-color: #c6cddb,
    input-disabled-bg: #878787,
    bg-grid-header: #878787,
  )
);
