@use "sass:map";
@use "./common" as *;

// 기본(light) 테마
$theme: map.merge(
  $theme-common,
  (
    border-color: #dfe1e5,
    font-color: #686868,
    font-hover-color: #3a3d41,
    button-bg: #f6f6f6,
    button-bg-hover: #ebebeb,
    tab-bg: #f6f6f6,
    tab-bg-hover: #ebebeb,
    input-bg: #fff,
    input-color: #212529,
    input-disabled-bg: #ebebeb,
    bg-grid-header: #f1f1f1,
  )
);
